.text-monster { color: #84bd00 !important; }
.btn-monster { background-color: #84bd00; color: #000; font-weight: 700; border: none; }
.btn-monster:hover { background-color: #a0e000; color: #000; }
.bg-monster { background-color: #84bd00 !important; color: #000; }
